<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<section layout:fragment="content">

    <div class="about-container">
        <h1>О портале ITFAQ</h1>
        <p>ITFAQ — бесплатный образовательный проект, который поможет тебе подготовиться к собеседованиям, закрепить знания и систематизировать информацию по IT-темам.</p>
        <h2>Особенности:</h2>
        <ul>
            <li>Большая коллекция вопросов и ответов по программированию и IT.</li>
            <li>Удобная структура по категориям и темам.</li>
            <li>Поддержка разных уровней сложности.</li>
            <li>Возможность самостоятельного добавления и обсуждения вопросов.</li>
        </ul>
        <a href="/" class="button">На главную</a>
    </div>

</section>
</html>